.btn {
  &,
  &:link,
  &:visited {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2rem;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
        position: relative;
    border: none;
    cursor: pointer;
  }


  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem $color-black;
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem $color-black;
  }


  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
  }
  &--green {
    background-color: $color-primary-dark;

    color: white;
    &::after {
      background-color: $color-primary-dark;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    text-decoration: none;
    color: $color-primary;
    display: inline-block;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem $color-black;
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem $color-black;
    transform: translateY(0);
  }
}
